@media (max-width: 1290px) {
    .container {
        max-width: auto;
        padding-left: 10px;
        padding-right: 10px;
    }

    .menu {
        flex-direction: column;
    }

    .menu__list {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        margin-bottom: 40px;
    }

    .menu-img {
        flex-wrap: wrap;
    }

    .menu__link {
        justify-content: space-around;
        flex-wrap: wrap;
    }

    .menu___item {
        margin-right: 0;
    }

    .login {
        flex-direction: column;
        align-items: center;
        display: flex;
    }

    .login__button {
        width: 80%;
        align-items: center;
        margin-right: 0;
        flex-direction: column;
        width: 60%;
        margin-bottom: 20px;
    }

    .local {
        flex-direction: column;
        align-items: center;
        padding-bottom: 10px;
        padding-top: 30px;
    }

    .local__img {
        order: -1;
        margin-top: 0;
        width: 60%;
        height: auto;
        max-width: 1000px;
        margin-bottom: 20px;
    }

    .local__title {
        width: auto;
    }

    .local__desc {
        width: auto;
    }

    .local__buttons {
        flex-direction: column;
        width: 100%;
    }

    .local__desc_bottom {
        text-align: center;
    }

    .companies {
        padding-top: 30px;
        padding-bottom: 30px;
    }

    .companies__item {
        margin-right: 40px;
        margin-bottom: 5px;
    }

    .companies__item:last-child {
        margin-right: 0;
    }

    .companies__title {
        font-size: 30px;
        line-height: 40px;
        margin-bottom: 30px;
    }

    .companies__list {
        flex-wrap: wrap;
    }

    .title-caption {
        width: auto;
        line-height: 45px;
        text-align: center;
    }

    .title-pic-left {
        padding-bottom: 10px;
    }

    .basic {
        padding-top: 30px;
        padding-bottom: 20px;
    }

    .basic__item {
        margin-top: 15px;
        max-width: 65%;
    }

    .basic__title {
        font-size: 20px;
        line-height: 35px;
        max-width: 100%;
        margin-bottom: 10px;
    }

    .basic__text {
        max-width: 100%;
        margin-bottom: 10px;
    }

    .basic__img {
        max-width: 90%;
    }

    .basic__item_img {
        max-width: 35%;
        text-align: center;
    }

    .localize {
        padding-top: 50px;
        padding-bottom: 20px;
    }

    .localize__title {
        font-size: 30px;
        line-height: 35px;
        margin-bottom: 15px;
    }

    .localize__text {
        width: 90%;
    }

    .localize__item {
        margin-left: auto;
        margin-right: auto;
        max-width: 30%;
        margin-top: 25px;
        margin-right: 0;
    }

    .tenfold {
        padding-top: 40px;
        padding-bottom: 0;
    }

    .tenfold__title {
        font-size: 30px;
        line-height: 35px;
        margin-bottom: 20px;
    }

    .tenfold__list {
        justify-content: space-between;
    }

    .tenfold__item {
        margin-right: 0;
        max-width: 30%;
    }

    .tenfold__img {
        margin-bottom: 20px;
        height: 33%;
    }

    .tenfold__subtitle {
        font-size: 20px;
        line-height: 30px;
        margin-bottom: 12px;
    }

    .tenfold__text {
        font-size: 16px;
        line-height: 20px;
        margin-bottom: 15px;
        ;
    }

    .tenfold__link {
        font-size: 16px;
    }

    .comment {
        padding-top: 25px;
        padding-bottom: 30px;
    }

    .comment__box {
        flex-direction: column;
    }

    .comment_right {
        width: 80%;
        margin-left: 30px;
    }

    .comment__desc {
        font-size: 20px;
        line-height: 25px;
        margin-bottom: 15px;
    }

    .comment__text {
        text-align: left;
        width: 70%;
    }

    .comment__img {
        width: auto;
        justify-content: flex-end;
        order: -1;
        margin-right: auto;
        margin-left: auto;
        margin-bottom: 20px;
        margin-top: 20px;
    }

    .popularity {
        padding-top: 25px;
        padding-bottom: 25px;
    }

    .popularity__box {
        flex-direction: column;
    }

    .image-cake {
        width: 20%;
        margin-left: auto;
        margin-right: auto;
        padding-bottom: 0;
        padding-top: 30px;
    }

    .popularity__title {
        line-height: 35px;
        margin-left: 50px;
        margin-right: 0;
        max-width: none;
    }

    .popularity__right {
        display: flex;
        width: auto;
        margin-left: auto;
        margin-right: auto;
        margin-top: 40px;
        padding-left: 200px;
    }

    .popularity__star_img {
        padding-left: 50px;
    }

    .popularity__star_img:first-child {
        border-left: none;
    }

    .integration {
        padding-top: 60px;
        padding-bottom: 60px;
    }

    .integration__title {
        font-size: 40px;
        width: auto;
    }

    .integration__img {
        width: 80%;
    }

    .integration__subtitle {
        width: 90%;
    }

    .question__subtitle {
        width: 80%;
    }

    .integration__button {
        flex-direction: column;
        width: 70%;
    }

    .question {
        padding-top: 30px;
        padding-bottom: 30px;
    }

    .question__title {
        font-size: 40px;
    }

    .question_subtitle {
        margin-top: 20px;
        width: 40%;
    }

    .question__button {
        margin-bottom: 25px;
        margin-top: 20px;
        width: 70%;
    }

    .footer__box {
        flex-wrap: wrap;
        justify-content: center;
        padding-top: 50px;
    }

    .examples__title {
        font-size: 20px;
    }

    .product {
        width: 60%;
        padding-left: 30px;
        display: flex;
    }

    .examples__link {
        margin-bottom: 50px;
    }

    .footer__box {
        padding-top: 25px;
        padding-bottom: 25px;
        justify-content: space-between;
    }

    .examples {
        margin-right: 0;
        width: 40%;
    }

    .footer-lists__menu {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }

    .footer-lists__item {
        width: 50%;
        margin-right: 0;
    }

    .footer-lists__subitem {
        width: 90%;
        margin-top: 15px;
    }

    .copy {
        padding-top: 25px;
        padding-bottom: 25px;
    }

    .copy__text {
        margin-right: 0;
    }
}


@media (max-width:768px) {

    body {
        min-width: 360px;
    }

    .container {
        padding-left: 10px;
        padding-right: 10px;
    }

    .menu {
        flex-direction: column;
    }

    .menu__box {
        flex-direction: column;
        align-items: center;
    }

    .menu__list {
        flex-wrap: wrap;
        justify-content: center;
    }

    .menu___item {
        margin-top: 15px;
        margin-left: 18px;
    }

    .login {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .login__button {
        width: 80%;
        margin-bottom: 10px;
    }

    .login__button_free {
        width: 80%;
    }

    .local__img {
        margin-left: 50px;
    }

    .local__title {
        font-size: 30px;
        line-height: 40px;
    }

    .local__desc {
        margin-top: 10px;
        margin-bottom: 20px;
        font-size: 20px;
    }

    .local__buttons {
        flex-direction: column;
        align-items: center;
    }

    .local__button_free {
        width: 100%;
        margin-right: 0;
        margin-bottom: 10px;
    }

    .local__button {
        width: 80%;
    }

    .companies__item {
        margin-right: 30px;
    }

    .basic {
        padding-top: 10px;
        padding-bottom: 10px;
    }

    .basic__item {
        max-width: 100%;
    }

    .basic__title {
        text-align: center;
        font-size: 25px;
        line-height: 30px;
    }

    .basic__img {
        display: none;
    }

    .basic__text {
        text-align: justify;
        font-size: 16px;
        line-height: 20px;
        margin-bottom: 5px;
    }


    .localize__title {
        font-size: 25px;
        line-height: 35px;
        margin-bottom: 15px;
    }

    .localize__subtitle {
        font-size: 20px;
    }

    .localize__text {
        font-size: 15px;
    }

    .localize__item {
        max-width: 30%;
        margin-top: 25px;
        margin-right: 0;
    }

    .localize__img {
        width: 35%;
        margin-bottom: 10px;
    }

    .tenfold__list {
        text-align: center;
        flex-direction: column;
    }

    .tenfold__item {
        max-width: none;
        margin-bottom: 20px;
    }

    .tenfold__title {
        margin-top: 30px;
        font-size: 25px;
    }

    .tenfold__img {
        margin-bottom: 30px;
        width: 20%;
    }

    .comment__img {
        height: auto;
        width: 60%;
        margin-right: 0px;
    }

    .tenfold__link {
        margin-bottom: 20px;
    }

    .comment__desc {
        font-size: 20px;
        line-height: 25px;
        margin-bottom: 15px;
    }

    .comment__text {
        font-size: 15px;
        width: 90%;
    }

    .integration__title,
    .question__title {
        font-size: 20px;
        padding-top: 20px;
        line-height: 20px;
    }

    .integration__subtitle,
    .question_subtitle {
        width: auto;
        margin-top: 10px;
        font-size: 16px;
    }

    .integration__img {
        height: auto;
    }

    .integration__button {
        width: 80%;
        margin-bottom: 30px;
    }

    .popularity__title {
        font-size: 25px;
        line-height: 20px;
        margin-left: 20px;
        margin-right: 0;
        max-width: none;
    }

    .popularity__right {
        padding-left: 20px;
    }

    .popularity__logo {
        max-width: 40%
    }

    .popularity__star_img {
        max-width: 40%;
        padding-left: 10px;
        margin-top: 20px;
    }

    .question__button {
        width: 80%;
    }

    .question__subtitle {
        width: 60%;
    }

    .footer__box {
        flex-direction: column;
    }

    .examples {
        align-items: center;
        width: 100%;
    }

    .examples__title {
        font-size: 30px;
        line-height: 40px;
        margin-bottom: 15px;
    }

    .examples__img {
        margin-bottom: 15px;
        width: 100%;
    }

    .examples__text {
        max-width: none;
        width: 100%;
        text-align: center;
    }

    .product {
        width: 100%;
        padding-left: 0;
    }

    .footer-lists__item {
        width: 100%;
        text-align: center;
        margin-right: 0;
    }

    .footer-lists__list {
        margin-top: 0;
        margin-bottom: 15px;
        width: 100%;
        display: flex;
        flex-direction: column;
        text-align: left;
        padding-left: 25px;
    }
}